body{
  padding: 0;
  margin: 0;
}

h1{
  color: #D8D8D8;
  padding: 17px;
  margin: 0;
}

.newHeadings{
  text-decoration: underline;
  font-family: sans-serif;
  border: 5px solid ##D8D8D8;
  padding: 2px
  margin: 6px;
}



header{
  background-color: #848484;
  width: 100%;
  height: 100px;
}
